<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>
</head>

<body>
    <section class="hero is-success">
        <div class="hero-body">
            <p class="title">Secret page</p>
            <p class="subtitle">you need to login to see this page</p>
            <p>{{user_info.username}}</p>
        </div>
    </section>
</body>

</html>